---
title: About
summary: Eshaan Kaul is a Product Designer at Flipkart working on Payments & FinTech - Pay Later, Cardless Credit & Co-branded Credit Card. 
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="home">
    <header class="inner-header">
      <a href="/index.html" class="logo">
        <div class="logo-circle"></div>
      </a>
      <nav class="inner-header-nav">
        <a href="/work.html">Work</a>
        <a href="/blog.html">Blog</a>
        <a href="/about.html">About</a>
      </nav>
    </header>

    <!-- Main Header -->

    <div class="wrapper-home">
      <div class="wrapper-inner">
        <!-- Work -->
        <section id="about">
          <h2>About</h2>
          <section class="about-main">
              <img class="about-img lazyload blur-up" data-src="/images/Eshaan-DP.png" src="/images/Eshaan-DP-lqip.png" alt=""/>
              <p>
                I’m Eshaan, a Product Designer at Flipkart working on Payments & FinTech - Pay Later, Cardless Credit & Co-branded Credit Card. 
              </p>
              <p>
                Before joining Flipkart, I was a designer at Playment, and where I worked upon the data annotation crowdsourcing platform and design systems.
              </p>
              <p>Before getting into design, I pursued computer engineering and was an early designer in Brisky & 1THING.</p>
              <p>I've had extensive experience across product and design. I'm curious about solving problems related to financial inclusion and productivity, creativity, and art.</p>
              <p>I love poking things with a stick; lately generative art, venture capital world... perpetually striving to showcase my photography.</p>
          </section>
          <!-- <section class="about-contact">
            <h3>Get In Touch</h3>
            <p>
              The best way to reach me is via
              <a href="mailto:eshaankaul29@gmail.com" target="_blank"
                >email</a
              >, although
              <a href="https://twitter.com/ANoffsinger" target="_blank"
                >Twitter</a
              >
              is my one and only true love.
            </p>
            <p>
              My
              <a href="https://www.instagram.com/anoffsinger/" target="_blank"
                >Instagram</a
              >
              is public, so feel free to judge my shoe obsession there.
              <a
                href="https://www.linkedin.com/in/eshaan-noffsinger-46b5b61a"
                target="_blank"
                >LinkedIn</a
              >
              isn’t a great bet, but has a thorough work history if that's your
              jam.
            </p>
          </section>
          <section class="about-site">
            <h3>Colophon</h3>
            <p>
              This site is built from scratch with good ‘ole fashioned HTML,
              CSS, and Javascript. It uses both the Graphik and Arnhem font
              families.
            </p>
            <p>
              <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> is used
              for templating and Stack Overflow is used for everything else,
              ever.
            </p>
          </section> -->
        </section>
      </div>

      {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
