---
title: blog
summary: Currently designing the Advanz Ecosystem (Pay Later, EMIs..) & Co-branded Credit Card.
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="home">
    <header class="inner-header">
      <a href="/index.html" class="logo">
        <div class="logo-circle"></div>
      </a>
      <nav class="inner-header-nav">
        <a href="/work.html">Work</a>
        <a href="/blog.html">Blog</a>
        <a href="/about.html">About</a>
      </nav>
    </header>

    <!-- Main Header -->

    <div class="wrapper-home">
      <div class="wrapper-inner">
        <!-- Work -->
        <section id="blog">
          <h2>Blog</h2>
            <ol class="list">
                {% for post in site.posts limit: 1000 %} {% if post.categories
                contains 'blog' %} {% if post.type contains 'Featured' %} {% else
                %}
                <li class="list-item">
                  <a href="{{ post.url }}">
                      <img
                      class="tile-blog-thumbnail"
                      src="{{ post.thumbnail }}"
                      alt="{{ post.summary }}"
                    />
                    <div class="list-content">
                      <h2>
                        {{ post.title }}
                      </h2>
                      <p>
                        {{ post.summary }}
                      </p>
  
                    </div>
                  </a>
                </li>
                {% endif %} {% endif %} {% endfor %}
              </ol>
        </section>
      </div>

      {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
