---
title: Work
summary: Currently designing the Advanz App (Pay Later, EMIs, Cash Loans) & Co-branded Credit Card.
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="home">
    <header class="inner-header">
      <a href="/index.html" class="logo">
        <div class="logo-circle"></div>
      </a>
      <nav class="inner-header-nav">
        <a href="/work.html">Work</a>
        <a href="/blog.html">Blog</a>
        <a href="/about.html">About</a>
      </nav>
    </header>

    <!-- Main Header -->

    <div class="wrapper-home">
      <div class="wrapper-inner">
        <!-- Work -->
        <section id="work">
          <h2>Work</h2>
          <ol>
            {% for post in site.posts limit: 1 %} {% if post.categories contains
            'work' %} {% if post.type contains 'Featured' %}
            <li class="tile-work-featured">
              <a>
                <img class="tile-work-thumbnail-featured lazyload blur-up" src="{{ post.thumbnail-desk-lqip }}" data-src="{{ post.thumbnail-desk }}" alt="{{ post.summary }}"/>
  
                  <img class="tile-work-thumbnail-featured-mobile lazyload blur-up" src="{{ post.thumbnail-mob-lqip }}" data-src="{{ post.thumbnail-mob }}" alt="{{ post.summary }}"/>
                
                <div class="tile-work-description-featured">
                  <span class="tile-work-description-company">{{
                    post.company
                  }}</span>
                  <h2 class="tile-work-description-title">{{ post.title }}</h2>
                  <p class="tile-work-description-summary">{{ post.summary }}</p>
                  <button class="tile-work-cta-disabled">
                    <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m15 2h-2v-2h-3v2h-4v-2h-3v2h-2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1h14c.552 0 1-.448 1-1v-12c0-.552-.448-1-1-1zm-1 12h-12v-7h12z" fill="#fff"/></svg>Coming Soon
                  </button>
                </div>
              </a>
            </li>
            {% else %} {% endif %} {% endif %} {% endfor %} {% for post in
            site.posts limit: 1000 %} {% if post.categories contains 'work' %} {% if
            post.type contains 'Featured' %} {% elsif post.type contains 'Locked'
            %}
            <li class="tile-work">
              <a>
                <img
                  class="tile-work-thumbnail lazyload blur-up"
                  src="{{ post.thumbnail-lqip }}"
                  data-src="{{ post.thumbnail }}"
                  alt="{{ post.summary }}"
                />
                <div class="tile-work-description">
                  <span class="tile-work-description-company">{{
                    post.company
                  }}</span>
                  <h2 class="tile-work-description-title">{{ post.title }}</h2>
                  <p class="tile-work-description-summary">{{ post.summary }}</p>
                  <button class="tile-work-cta-disabled">
                    <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m15 2h-2v-2h-3v2h-4v-2h-3v2h-2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1h14c.552 0 1-.448 1-1v-12c0-.552-.448-1-1-1zm-1 12h-12v-7h12z" fill="#fff"/></svg>Coming Soon
                  </button>
                </div>
              </a>
            </li>
            {% else %}
            <li class="tile-work">
              <a href="{{ post.url }}">
                <img
                  class="tile-work-thumbnail lazyload blur-up"
                  src="{{ post.thumbnail-lqip }}"
                  data-src="{{ post.thumbnail }}"
                  alt="{{ post.summary }}"
                />
                <div class="tile-work-description">
                  <span class="tile-work-description-company">{{
                    post.company
                  }}</span>
                  <h2 class="tile-work-description-title">{{ post.title }}</h2>
                  <p class="tile-work-description-summary">{{ post.summary }}</p>
                  <button class="tile-work-cta">Read More</button>
                </div>
              </a>
            </li>
            {% endif %} {% endif %} {% endfor %}
          </ol>
        </section>
      </div>

      {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
