---
title: Writing
summary: Eshaan Kaul is a Product Designer at Flipkart working on Payments & FinTech - Pay Later, Cardless Credit & Co-branded Credit Card. 
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="home">
    <header class="inner-header">
      <a href="/index.html" class="logo">
        <div class="logo-circle"></div>
      </a>
      <nav class="inner-header-nav">
        <a href="/work.html">Work</a>
        <a href="/writing.html">Writing × Side Projects</a>
        <a href="/about.html">About</a>
      </nav>
    </header>

    <!-- Main Header -->

    <div class="wrapper-home">
      <div class="wrapper-inner">
        <!-- Work -->
        <section id="writing">
          <h2>Writing × Side Projects</h2>
            <ol class="list">
                {% for post in site.posts limit: 100 %} {% if post.categories
                contains 'writing' %} {% if post.type contains 'Featured' %} {% else
                %}
                <li class="list-item">
                  <a href="{{ post.url }}">
                      <img
                      class="tile-writing-thumbnail lazyload blur-up"
                      data-src="{{ post.thumbnail }}"
                      alt="{{ post.thumbnailDesc }}"
                    />
                    <div class="list-content">
                      <h2>
                        {{ post.title }}
                      </h2>
                      <p>
                        {{ post.summary }}
                      </p>
  
                    </div>
                  </a>
                </li>
                {% endif %} {% endif %} {% endfor %}
              </ol>
        </section>
      </div>

      {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
