#footer {
    height: $headerFooterHeight;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpointSmall) {
      flex-direction: column-reverse;
      padding: 1.4em 0;
    }
}

.footer-copyright {
   font: $bodyRegular;
   color: $grey400;

   @media (max-width: $breakpointSmall) {
      width: 100%;
      text-align: center;
   }
}

// button-social-link

.button-social-link {
   display: block;
   float: left;
   height: 28px;
   width: 28px;
   margin-right: .5em;

   transition: all $durationShort ease;

   &:hover {
       opacity: .5;
   }
}


// social-links


.social-links {
   display: flex;
   align-items: center;

   > a {
       display: block;
       margin-right: .8em;

       transition: all $durationShort ease;

       @media (max-width: $breakpointSmall) {
           &:last-of-type {
               margin-right: 0;
           }
       }

       &:hover {
           opacity: .5;
       }
   }
}

.social-links-footer {
   float: right;

   @media (max-width: $breakpointSmall) {
       float: none;
       margin: 0 auto;
   }
}





.footer-nav {

    @media (max-width: $breakpointLarge) {
        display: none;
     }
 
     @media (max-width: $breakpointMedium) {
        display: none;
     }
    @media (max-width: $breakpointSmall) {
        font: $bodyRegular;
   color: $grey400;
    position: relative;
    height: auto;
    display: block;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
    }
}
.footer-nav-section {
    @media (max-width: $breakpointLarge) {
        
        display: none;
     }
 
     @media (max-width: $breakpointMedium) {
        display: none;
     }
    @media (max-width: $breakpointSmall) {
        font: $bodyRegular;
   color: $grey400;
    text-align: center;
    height: 2em;
    display: block;
    margin: 5px auto;}
}




