.logo {
   height: 24px;
   position: relative;

   &:hover {
      .logo-circle {
         transform: scale(1.2);
         background-color: $yellow;
      }
   }
}

.logo-circle {
   height: 24px;
   width: 24px;
   background-color: $grey300;
   border-radius: 4px;
   left: 0px;
   position: absolute;
   transition: all 1.6s $bezierLogo;
}


