@font-face {
  font-family: 'SF-Pro-Text-Medium';
  src: url('../fonts/SF-Pro-Text-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Text-Regular';
  src: url('../fonts/SF-Pro-Text-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Text-RegularItalic';
  src: url('../fonts/SF-Pro-Text-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'NewYorkExtraLarge-Medium';
    src: url('../fonts/NewYorkExtraLarge-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
